<% layout("layouts/boilarplate") %>
<body>
    <div class="showContainer">
        <p>Title: <%= listing.title %></p>
        <p>Description: <%= listing.description %></p>
        <img src="<%= listing.image.url %>" alt="default">
        <p>Prise:&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
        <p>Location: <%= listing.location %></p>
        <p>Country: <%= listing.country %></p>
    </div>
</body>
