<% layout("layouts/boilarplate") %>

    <body>
        <div class="editContainer">
            <form method="post" action="http://localhost:8080/<%= listing._id %>?_method=Patch">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title: </label>
                            <input type="text" class="form-control" name="listing[title]" id="title"
                                value="<%= listing.title %>">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description: </label>
                            <input type="text" class="form-control" name="listing[description]" id="description"
                                value="<%=listing.description%>">
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Image: </label>
                            <input type="text" class="form-control" name="listing[image]" id="image"
                                value="<%= listing.image.url %>">
                        </div>

                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Prise: </label>
                                <input type="text" class="form-control" name="listing[price]" id="price"
                                    value="<%= listing.price %>">
                            </div>

                            <div class="mb-3 col-md-8">
                                <label for="country" class="form-label">Country: </label>
                                <input type="text" class="form-control" name="listing[country]" id="country"
                                    value="<%= listing.country %>">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="location" class="form-label">Location: </label>
                            <input type="text" class="form-control" name="listing[location]" id="location"
                                value="<%= listing.location %>">
                        </div>

                        <button type="submit" class="btn btn-dark edit-btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </body>